services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  # ───────────── Kafka broker+controller #1 ─────────────
  # ───────── Kafka broker+controller #1 ─────────
  kafka-1:
    image: apache/kafka:4.1.0
    container_name: kafka-1
    hostname: kafka-1
    ports:
      - "19094:9094"   # EXTERNAL порт для клиентов с хоста
    environment:
      # KRaft / роли / идентичность
      KAFKA_NODE_ID: "1"
      KAFKA_PROCESS_ROLES: "broker,controller"
      CLUSTER_ID: "${KAFKA_CLUSTER_ID}"

      # Контроллерный кворум (Raft)
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

      # Слушатели
      KAFKA_LISTENERS: "INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:9092,EXTERNAL://${EXTERNAL_HOST_KAFKA}:19094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      # Репликация служебных топиков (для 3 брокеров)
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_MIN_INSYNC_REPLICAS: "2"

      KAFKA_HEAP_OPTS: "-Xms512m -Xmx512m"
    volumes:
      - kafka1-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 30

  # ───────── Kafka broker+controller #2 ─────────
  kafka-2:
    image: apache/kafka:4.1.0
    container_name: kafka-2
    hostname: kafka-2
    ports:
      - "29094:9094"
    environment:
      KAFKA_NODE_ID: "2"
      KAFKA_PROCESS_ROLES: "broker,controller"
      CLUSTER_ID: "${KAFKA_CLUSTER_ID}"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

      KAFKA_LISTENERS: "INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-2:9092,EXTERNAL://${EXTERNAL_HOST_KAFKA}:29094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_MIN_INSYNC_REPLICAS: "2"

      KAFKA_HEAP_OPTS: "-Xms512m -Xmx512m"
    volumes:
      - kafka2-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 30

  # ───────── Kafka broker+controller #3 ─────────
  kafka-3:
    image: apache/kafka:4.1.0
    container_name: kafka-3
    hostname: kafka-3
    ports:
      - "39094:9094"
    environment:
      KAFKA_NODE_ID: "3"
      KAFKA_PROCESS_ROLES: "broker,controller"
      CLUSTER_ID: "${KAFKA_CLUSTER_ID}"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9093,2@kafka-2:9093,3@kafka-3:9093"

      KAFKA_LISTENERS: "INTERNAL://:9092,EXTERNAL://:9094,CONTROLLER://:9093"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-3:9092,EXTERNAL://${EXTERNAL_HOST_KAFKA}:39094"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "3"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "2"
      KAFKA_MIN_INSYNC_REPLICAS: "2"

      KAFKA_HEAP_OPTS: "-Xms512m -Xmx512m"
    volumes:
      - kafka3-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list >/dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 30

  planner:
    build:
      context: .
      dockerfile: services/planner-service/Dockerfile
    image: ${DOCKERHUB_USERNAME}/planner-service:${APP_VERSION}
    environment:
      BOT_HOST: ${BOT_HOST}
      NOTIFICATION_PORT: ${NOTIFICATION_PORT}
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      DADATA_TOKEN: ${DADATA_TOKEN}
      DADATA_SECRET: ${DADATA_SECRET}
      TWOGIS_API_KEY: ${TWOGIS_API_KEY}
      LOGSTASH_HOST: ${LOGSTASH_HOST}
      LOGSTASH_PORT: ${LOGSTASH_PORT}
      KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092"
    ports:
      - 8080:8080
    depends_on:
      - db
      - telegram-bot
  telegram-bot:
    build:
      context: .
      dockerfile: services/bot-service/Dockerfile
    image: ${DOCKERHUB_USERNAME}/bot-service:${APP_VERSION}
    environment:
      SERVICE_HOST: ${SERVICE_HOST}
      SERVICE_PORT: ${SERVICE_PORT}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_BOT_USER_NAME: ${TELEGRAM_BOT_USER_NAME}
      LOGSTASH_HOST: ${LOGSTASH_HOST}
      LOGSTASH_PORT: ${LOGSTASH_PORT}
      KAFKA_BOOTSTRAP_SERVERS: "kafka-1:9092,kafka-2:9092,kafka-3:9092"
    dns:
      - 1.1.1.1
      - 8.8.8.8
    ports:
      - 8088:8088
    depends_on:
      - db
      - kafka-1
      - kafka-2
      - kafka-3

volumes:
  pgdata: { }
  kafka1-data:
  kafka2-data:
  kafka3-data: