server:
  port: 8080

spring:
  application:
    name:
      planner-service
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin}
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: false
    locations: classpath:db/migration
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.sql
  task:
    scheduling:
      enabled: true
  kafka:
    bootstrap-servers: ${BOOTSTRAP_SERVERS:kafka-1:9092,kafka-2:9092,kafka-3:9092}
    producer:
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: planner-service
      auto-offset-reset: latest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    listener:
      ack-mode: record
      missing-topics-fatal: false

planner:
  notify:
    lead-minutes: 30

bot:
  service:
    notification:
      url: 'http://${BOT_HOST:localhost}:${NOTIFICATION_PORT:8088}'
  kafka:
    topic:
      consume:
        settings: user-settings
      produce:
        notify: reminder-ready


dadata:
  clean:
    url: 'https://cleaner.dadata.ru/api/v1/clean/address'
  client:
    token: ${DADATA_TOKEN:token} # указать свой токен
    secret: ${DADATA_SECRET:secret} # указать свой ключ
twogis:
  api-key: ${TWOGIS_API_KEY:apiKey} # указать свой ключ
  url: 'https://routing.api.2gis.com/routing/7.0.0/global'
logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.scheduling: DEBUG
    org.springframework.scheduling.concurrent: DEBUG

LOGSTASH_HOST: ${LOGSTASH_HOST}
LOGSTASH_PORT: ${LOGSTASH_PORT}
